<head>
  <!-- Custom styles for this template -->
 <link rel="stylesheet" href="../../assets/css/main.css">
</head>



<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/loggedinhome">StanDrop</a>


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">


      <li class="nav-item active">
        <a class="nav-link" href="/logservices">Services <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/logaboutus">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/logcontactus">Contact Us <span class="sr-only">(current)</span></a>
      </li>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/comment">Comment <span class="sr-only">(current)</span></a>
      </li>


    </ul>
  </div>
</nav>

<br/>
<br/>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Hello {{user.name}}</h5>
  <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/user_dashboard">My Dashboard</a>
    <a class="p-2 text-dark" href="/my_request">My Request</a>
<a class="btn btn-outline-primary" href="/logout">Logout</a>
  </nav>

</div>
<br/>
<br/>
 <p>Title of our project is stadrop. </p>
<p>According to research conducted by prof Richard of MIT, The  average American has been estimated to spend 2 years of their life waiting in line. The more crowded the city you live in, the more lines you would have to wait in. </p>
<br/>
<p>I hear all the time.</p>
<p>I HATE standing in line.</p>
<p>I wish I could go but I don't have the time to stand in line.I Want to go but I can't stand in the line.</p>
<br/>
<p>That's why we created this service. So you can relax and still plan to get to that event you so wanted to attend! </p>
<p>Everyone has waited in line for just about everything you can imagine in New York City — iPhones, brunch, Broadway tickets, NFL tickets or even Cronuts which is a bakery shop that serves best doughnut in town. On an average a person has to wait for around 3-4 hours to get the doughnut.</p>
<p>So here we are with an idea because Life Is Too Short To Waste Time standing in line.</p>
<br/>
<p>Apart from this we are also providing skilled tasker who can help you with day to day work which are important yet time consuming. You can get more done in less time, our platform connects you with skilled tasker to help you with odd jobs so that you can be more productive each day.</p>
